@mixin redButton {
  user-select: none;
  background-color: lightpink;
  color: darkred;
  border-color: darkred;
}

@mixin greenButton {
  user-select: none;
  background-color: lightgreen;
  color: #004e00;
  border-color: darkgreen;
}

@mixin blueButton {
  user-select: none;
  background-color: lightblue;
  color: darkblue;
  border-color: darkblue;
}

@mixin purpleButton {
  user-select: none;
  background-color: #efdffc;
  color: darkslateblue;
  border-color: darkslateblue;
}

@mixin orangeButton {
  user-select: none;
  background-color: #ffeedd;
  color: #924400;
  border-color: #924400;
}

@mixin seablueButton {
  user-select: none;
  background-color: #c4fff2;
  color: #3b3373;
  border-color: #3b3373;
}

@mixin pinkredButton {
  user-select: none;
  background-color: #ffc8f5;
  color: #7400a6;
  border-color: #7400a6;
}

@mixin magicButton {
  user-select: none;
  background-color: #c8ffe1;
  color: #004020;
  border-color: #004020;
}
